extends layout 

include mixins/_head
include mixins/_head-end

block head 
  meta(name="description" content="Actual Homepage - SEO text here")
  title Actual Homepage | Kezdőlap
  +head
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/hero_mobil.webp" type="image/webp") 
  +headEnd
block content
  - const paintings = require('../data/paintings.json')
  - const forsale = paintings.filter(painting => painting.status === 'forsale').sort((a, b) => a.order - b.order)
  - const sold = paintings.filter(painting => painting.status === 'sold').sort((a, b) => a.order - b.order)
  main
    .hero#home
      .hero-wrapper
        .hero-image
        .hero-content
          h1.title Tálos István
          p I create classical-style paintings on canvas. Check out my
          a.btn(href="#forsale") paintings for sale
    section.paintings#forsale 
      h2.title Pictures for sale 
      .paintings-wrapper
        each painting in forsale
          figure
            picture 
              source(media="(min-width: 768px)", srcset=`/images/photos/${painting.desktop}`)
              img.single-painting(src=`/images/photos/${painting.mobile}`, alt=painting.alt, loading="lazy")
            figcaption #{painting.title}
    section.paintings#sold 
      h2.title Sold pictures  
      .paintings-wrapper
        each painting in sold
          figure
            picture 
              source(media="(min-width: 768px)", srcset=`/images/photos/${painting.desktop}`)
              img.single-painting(src=`/images/photos/${painting.mobile}`, alt=painting.alt, loading="lazy")
            figcaption #{painting.title}
    section.about#about 
      h2.title About me
      .about-wrapper
        picture 
          source(media="(min-width: 768px)", srcset="/images/photos/profil_desktop.jpg")
          img.profile-img(src="/images/photos/profil_mobil.jpg", alt="Tálos István", loading="lazy")
        .about-text
          p I was born in 1987 in Siófok, Hungary.
          p I studied graphic art and painting for seven years at various institutions, but the experience was so disheartening that I stopped painting for ten years.
          p In 2023, I moved to the Netherlands and began painting again.
          p Unlike my earlier work, I now focus exclusively on classical-style paintings on canvas. My favorite subjects are old brick buildings or vibrant landscapes.
          p I can create a painting from a photo of a building if you like, but I don't do portraits.
    section.contact#contact 
      h2.title Contact
      p Feel free to reach out via email for any inquiries or to discuss a custom painting:<br>
        a.email(href="mailto:info@talos-istvan.com") info@talos-istvan.com
